body {
	font-family: Verdana, sans-serif;
	min-width: 240px;
	max-width: 320px;
	padding: 7px;
	}
h1 {
	font-size: 1.1em;
	}
h2 {
	font-size: 1em;
	}
li {
	margin-left: -2em;
	}
textarea {
	width: 100%;
    height: 5em;
	}
.warn {
	font-weight: bold;
	color: red;
	}