body {
    font-family: sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

h1, h2 {
    color: #333;
}

#hidden-sites-container {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#hidden-sites-list,
#darkmode-sites-list {
    list-style: none;
    padding: 0;
}

#hidden-sites-list li,
#darkmode-sites-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#hidden-sites-list li:last-child,
#darkmode-sites-list li:last-child {
    border-bottom: none;
}

.remove-site-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.remove-site-btn:hover {
    background-color: #da190b;
}

#add-site-form,
#add-dark-site-form {
    margin-top: 20px;
    display: flex;
}

#new-site-input,
#new-dark-site-input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#add-site-btn,
#add-dark-site-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

#add-site-btn:hover,
#add-dark-site-btn:hover {
    background-color: #45a049;
}
