{% extends "base.html" %}

{% block container %}
<div class="container py-3">
  {% block content %}
  <h2 class="mb-3">Chat Room</h2>
  <div class="chat-layout">
    <div id="chatLog" class="chat-log z-depth-1"></div>
    <div id="previewArea" class="preview-area"></div>
  </div>
  <div class="row valign-wrapper" style="margin-top:1rem;">
    <div class="input-field col s10">
      <input id="messageInput" type="text" placeholder="輸入訊息" autocomplete="off" />
    </div>
    <div class="col s2 right-align">
      <a id="sendBtn" class="btn waves-effect waves-light">送出</a>
    </div>
  </div>
  <script src="/assets/js/chat.js"></script>
  {% endblock content %}
</div>
{% endblock container %}
